#tab-update-view button.active {
  background-color: rgb(156 163 175);
}

#tab-insert-view button.active {
  background-color: rgb(156 163 175);
}

#manage-data-view button.active {
  background-color: rgb(156 163 175);
}

.federal-list tr:nth-child(even) {
  background-color: #dddddd;
}

.federal-list th {
  color: #ffffff;
  background-color: #3a55b4
}

/*.state-list tr:nth-child(even) {
  background-color: #197ef1;
}*/

/** Customizando table interna */
.state-list {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.state-list thead th {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

/* remover para a tamanho da linha ficar igual o tamanho da linha da classe federal-list */
/*
.state-list th,
.state-list td {
  padding: 5px 5px;
}*/

.state-list tbody tr {
  border-bottom: 1px solid #dddddd;
}

.state-list tbody tr:nth-of-type(even) {
  background-color: #dbe4f0;
}

.state-list tbody tr:nth-of-type(odd) {
  background-color: white;
}

.state-list tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.state-list tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}



/* scroolbar width https://www.digitalocean.com/community/tutorials/css-scrollbars */
#list-grants-view::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

#list-grants-view::-webkit-scrollbar-thumb {
  background-color: gray;
  /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  border: 0px solid;
  /* creates padding around scroll thumb */
}

/* scroolbar width https://www.digitalocean.com/community/tutorials/css-scrollbars */
#federal-list-view::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

#federal-list-view::-webkit-scrollbar-thumb {
  background-color: gray;
  /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  border: 0px solid;
  /* creates padding around scroll thumb */
}

.td-bg-0 {
  background-color: white
}

.td-bg-1 {
  background-color: white
}

/* Largura, cor etc do scrollbar, horizontal e vertical */
.table-scrolls::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  background: gray;
}

.table-scrolls::-webkit-scrollbar-thumb:horizontal {
  background: #bff306;
  border-radius: 2px;
}

.table-scrolls::-webkit-scrollbar-thumb:vertical {
  background: #bff306;
  border-radius: 2px;
}

/* pagination */
.active-page {
  background-color: dodgerblue;
  color: white;
}